.dialog {
	visibility: hidden;
	position: fixed;
	bottom: 0;
	display: flex;
	flex-flow: column;
	margin: auto;
	z-index: 1;
	width: 100%;
	max-width: 500px;
	left: 50%;
	transform: translateX(-50%);
	overflow: auto;
	background-color: theme-color(secondary-light);
	color: theme-color(body);

	svg {
		fill: currentColor;
	}

	&.show {
		visibility: visible;
	}

	.title {
		text-align: center;
	}

	.close {
		display: flex;
		justify-content: right;
		margin: theme-space(4);
	}
}
