.menu {
	background-color: theme-color(body);
	height: 100%;
	width: 100%;
	text-align: left;
	padding: 3rem 2rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 0.3s ease-in-out;

	.link-list {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: theme-space(5);
		padding-top: theme-space(8);

		.link {
			text-decoration: none;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			width: 100%;
			gap: theme-space(3);
			cursor: pointer;

			:hover {
				text-decoration: underline;
			}

			:first-child {
				:hover {
					text-decoration: none;
				}
			}
		}
	}

	.close {
		position: absolute;
		top: theme-space(4);
		right: theme-space(4);
	}

	@include screen(md) {
		width: 75%;
	}

	&.show {
		transform: translateX(0);
	}

	&.hide {
		transform: translateX(-100%);
	}
}

.burger span {
	width: 2rem;
	height: 0.25rem;
	border-radius: 10px;
	transition: all 0.3s linear;
	position: relative;
	transform-origin: 1px;
}

.close {
	span {
		background-color: theme-color(primary);
	}
}

.open {
	span {
		background-color: theme-color(body);
	}
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 10;

	&.open {
		span:first-child {
			transform: rotate(0);
		}

		span:nth-child(2) {
			opacity: 1;
			transform: translateX(0);
		}

		span:nth-child(3) {
			transform: rotate(0);
		}
	}

	&.close {
		span:first-child {
			transform: rotate(45deg);
		}

		span:nth-child(2) {
			opacity: 0;
			transform: translateX(20px);
		}

		span:nth-child(3) {
			transform: rotate(-45deg);
		}
	}
}
